@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Containers */

.container {
    margin-left: 10%;
    margin-right: 10%;
    width: 51em;
    height: 51em;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 63.75em;
    min-width: 51em;
}

.container.\37 5\25 {
    width: 38.25em;
}

.container.\35 0\25 {
    width: 25.5em;
}

.container.\32 5\25 {
    width: 12.75em;
}


/* Grid */

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row.\30 \25 > * {
    padding: 0px 0 0 0px;
}

.row.\30 \25 {
    margin: 0px 0 -1px 0px;
}

.row.uniform.\30 \25 > * {
    padding: 0px 0 0 0px;
}

.row.uniform.\30 \25 {
    margin: 0px 0 -1px 0px;
}

.row > * {
    padding: 30px 0 0 30px;
}

.row {
    margin: -30px 0 -1px -30px;
}

.row.uniform > * {
    padding: 30px 0 0 30px;
}

.row.uniform {
    margin: -30px 0 -1px -30px;
}

.row.\32 00\25 > * {
    padding: 60px 0 0 60px;
}

.row.\32 00\25 {
    margin: -60px 0 -1px -60px;
}

.row.uniform.\32 00\25 > * {
    padding: 60px 0 0 60px;
}

.row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px;
}

.row.\31 50\25 > * {
    padding: 45px 0 0 45px;
}

.row.\31 50\25 {
    margin: -45px 0 -1px -45px;
}

.row.uniform.\31 50\25 > * {
    padding: 45px 0 0 45px;
}

.row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px;
}

.row.\35 0\25 > * {
    padding: 15px 0 0 15px;
}

.row.\35 0\25 {
    margin: -15px 0 -1px -15px;
}

.row.uniform.\35 0\25 > * {
    padding: 15px 0 0 15px;
}

.row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px;
}

.row.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px;
}

.row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px;
}

.row.uniform.\32 5\25 > * {
    padding: 7.5px 0 0 7.5px;
}

.row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px;
}

.\31 2u, .\31 2u\24 {
    width: 100%;
    clear: none;
    margin-left: 0;
}

.\31 1u, .\31 1u\24 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 0u, .\31 0u\24 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
}

.\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}

.\38 u, .\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
}

.\37 u, .\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
}

.\36 u, .\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
}

.\35 u, .\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
}

.\34 u, .\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
}

.\33 u, .\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
}

.\32 u, .\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 u, .\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
    clear: left;
}

.\-11u {
    margin-left: 91.66667%;
}

.\-10u {
    margin-left: 83.33333%;
}

.\-9u {
    margin-left: 75%;
}

.\-8u {
    margin-left: 66.66667%;
}

.\-7u {
    margin-left: 58.33333%;
}

.\-6u {
    margin-left: 50%;
}

.\-5u {
    margin-left: 41.66667%;
}

.\-4u {
    margin-left: 33.33333%;
}

.\-3u {
    margin-left: 25%;
}

.\-2u {
    margin-left: 16.66667%;
}

.\-1u {
    margin-left: 8.33333%;
}



/* Basic */

.headerCenter{
    text-align: center;
    align-items: center;
    align-self: center;
    width: 35%;
    display: inline-block;
}

.container2 {
    width: 100%;
    height: 100%;
}


#Game {
    background-image: url("../../images/header.jpg");
    background-position: center;
    background-size: auto;
    padding: 0em;
    text-align: center;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

html, body {
    height: 100%;
}

body {
    background: #ffffff;
}

body.is-loading * {
    -moz-transition: none ;
    -webkit-transition: none ;
    -ms-transition: none ;
    transition: none ;
    -moz-animation: none ;
    -webkit-animation: none ;
    -ms-animation: none ;
    animation: none ;
}

body, input, select, textarea {
    color: #6e6e6e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #4eb980;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
}

strong, b {
    font-weight: 600;
    color: #5b5b5b;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote, form {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #5b5b5b;
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-top: solid 1px rgba(224, 224, 224, 0.75);
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em rgba(224, 224, 224, 0.75);
    font-style: italic;
    padding: 1em 0 1em 2em;
}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

header {
    text-align: center;
}

header p {
    position: relative;
    top: -1em;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

header.major {
    border-bottom-width: 1px;
    border-color: rgba(224, 224, 224, 0.75);
    border-style: solid;
    border-top-width: 1px;
    margin-bottom: 6em;
    padding: 4em 0;
    position: relative;
}

header.major:before, header.major:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

header.major:before {
    top: 10px;
}

header.major:after {
    bottom: 10px;
}

header.major h2 {
    margin: 0;
}

header.major p {
    top: 0;
    margin: 1.5em 0 0 0;
    padding: 1.5em 1.5em 0 1.5em;
    font-size: 1.5em;
    line-height: 1.75em;
    border-top: solid 1px rgba(224, 224, 224, 0.75);
    display: inline-block;
}

header.major.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

header.major.last:after {
    display: none;
}

header.major.last h2 {
    margin-bottom: 1em;
}

footer {
    text-align: center;
}

footer.major {
    border-bottom-width: 1px;
    border-color: rgba(224, 224, 224, 0.75);
    border-style: solid;
    border-top-width: 1px;
    margin-top: 6em;
    padding: 4em 0;
    position: relative;
}

footer.major:before, footer.major:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

footer.major:before {
    top: 10px;
}

footer.major:after {
    bottom: 10px;
}


/* Box-Diseño de los cudrdados*/

	.box {
		background: #ffffff;
		border: solid 1px rgba(224, 224, 224, 0.75);
		margin-bottom: 6em;
		padding: 3.5em;
	}

		.box.alt {
			background: none;
			border: none;
			padding: 0;
		}


/* Iconos twitter,facebook,instagram,etc*/

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none ;
}

.icon > .label {
    display: none;
}


/* Modo List de los iconos twitter,facebook,instagram,etc*/

ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul.default {
    list-style: disc;
    padding-left: 1em;
}

ul.default li {
    padding-left: 0.5em;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.icons li a, ul.icons li span {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px rgba(224, 224, 224, 0.75);
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}

ul.icons li a:hover, ul.icons li span:hover {
    background: rgba(224, 224, 224, 0.15);
}

ul.actions {
    cursor: default;
    text-align: center;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}






/* Feature-Diseño de la parte blanca (los cuadrados) */

.feature {
    position: relative;
    height: 30%;
}

.feature:after {
    clear: both;
    content: '';
    display: block;
}

.feature h3, .feature h4, .feature h5, .feature h6 {
    text-align: inherit;
}

.feature .image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
    
}

.feature .image img {
    display: block;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.feature:before {
    background: blue;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.feature .content {
    display: inline-block;
    padding: 3.5em;
    vertical-align: middle;
    width: 48%;
}

.feature .content h3 {
    margin-bottom: 0.5em;
}

.feature .content :last-child {
    margin: 0;
}

.feature.left {
    text-align: left;
}

.feature.left .image {
    float: left;
}

.feature.left .image img {
    right: 0;
    top: 0;
}

.feature.left .content {
    padding-right: 0;
}

.feature.right {
    text-align: right;
}

.feature.right .image {
    float: right;
}

.feature.right .image img {
    left: 0;
    top: 0;
}

.feature.right .content {
    padding-left: 0;
}

.feature.long .content {
    padding-top: 0;
}

/*Nav*/
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

#nav li {
    float: right;
}

#nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

#nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/*Nav JUEGO.HTML*/
#nav2 {
    text-align: center;
}
#nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

#nav2 li {
    display: inline-block;
}

#nav2 li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav2 li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

#nav2 li.dropdown {
    display: inline-block;
}




/* Header-Imagen de soldados*/
#headerSelection {
    background-image: url("../../images/header.jpg");
    background-position: center;
    background-size: 100% auto;
    padding: 10em 0 20em 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

#header {
    background-attachment: scroll,							scroll,					fixed;
    background-image: url("images/top-3200.svg"), url("images/overlay.png"), url("../../images/header.jpg");
    background-position: bottom center,					top left,				center center;
    background-repeat: repeat-x,						repeat,					no-repeat;
    background-size: 3200px 460px,					auto,					cover;
    color: rgba(255, 255, 255, 0.8);
    padding: 10em 0 20em 0;
    position: relative;
    text-align: center;
}

#header:before, #header:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
}

#header:before {
    height: calc(100% - 50px);
    opacity: 0.15;
    top: 0;
}

#header:after {
    bottom: 0;
    height: 50px;
}

#header a {
    border-bottom-color: rgba(255, 255, 255, 0.35);
    color: rgba(255, 255, 255, 0.8);
}

#header a:hover {
    border-bottom-color: transparent;
    color: #4eb980;
}

#header strong, #header b {
    color: #ffffff;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff;
}

#header input[type="submit"],
#header input[type="reset"],
#header input[type="button"],
#header .button {
    background: #ffffff;
    color: #544d55;
}

#header .logo {
    background: #4eb980;
    border-radius: 100%;
    color: #ffffff;
    cursor: default;
    display: inline-block;
    font-size: 2.25em;
    height: 2.35em;
    line-height: 2.35em;
    margin: 0 0 0.75em 0;
    text-align: center;
    width: 2.35em;
}

#header .logo.fa-paper-plane-o:before {
    left: -0.075em;
    position: relative;
}

#header h1 {
    font-size: 2.5em;
    margin: 0;
}

#header p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0.25em 0 0 0;
}

/* Footer-parte de abajo de la pagina */

#footer {
    background-attachment: scroll;
    background-color: #000000;
    background-image: url("images/bottom-3200.svg");
    background-position: top center ;
    background-repeat: repeat-x;
    background-size: 3200px 460px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -190px;
    padding: calc(460px + 6em) 0 10em 0;
    position: relative;
    text-align: center;
}

#footerSeleccionPartida {
    background-color: #000000;
    background-position: top center ;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    padding: 1em;
    position: relative;
    text-align: center;
}

#footer:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    height: calc(460px + 6em);
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}

#footer a {
    color: #ffffff;
}

#footer strong, #footer b {
    color: #ffffff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff;
}

#footer header p {
    color: rgba(255, 255, 255, 0.5);
}

#footer input[type="submit"],
#footer input[type="reset"],
#footer input[type="button"],
#footer .button {
    background: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #4eb980;
}

#footer input[type="submit"]:hover,
#footer input[type="reset"]:hover,
#footer input[type="button"]:hover,
#footer .button:hover {
    background: rgba(224, 224, 224, 0.15);
    color: #ffffff;
}

#footer input[type="text"]:focus,
#footer input[type="password"]:focus,
#footer input[type="email"]:focus,
#footer select:focus,
#footer textarea:focus {
    border-color: #ffffff;
}

#footer .formerize-placeholder {
    color: rgba(255, 255, 255, 0.3) ;
}

#footer form {
    margin: 3em 0;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    line-height: 1em;
    margin: 3em 0 0 0;
}

#footer .copyright li {
    border-left: dotted 1px;
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .copyright li:first-child {
    padding: 0;
    margin: 0;
    border: 0;
}

#footer .copyright li a, #footer .copyright li span {
    color: inherit;
}

#footer .copyright li a:hover, #footer .copyright li span:hover {
    color: #ffffff;
}


#footerJuego {
    background-color: #000000;
    background-position:center ;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1em;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 14%;
}